/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
.brand > img{
    height: 55px;
    width: 60px; 
}
.brand{
    display: flex;/* the spotify written string can be flexed now */
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}
.brand p{
    margin-left: 10px;
    margin-right: 10px;
}
nav .home , .AboutUs{
    margin-right: 5px;
}
.songlist h1{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 4px 3px 3px rgba(255,255,255,0.38);
    font-size: 3rem;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: whitesmoke;
    font-family: 'Roboto' , sans-serif;
    display: flex;
    margin: 30px auto;
    width: 90%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('beatles.jpg');
    background-size: 100% 110%;
}
.songItems{
    height: 70px;
    display: flex;
    background-color: black;
    color:white;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    -webkit-box-shadow: 10px 10px 21px -6px rgba(31,23,31,1);
    -moz-box-shadow: 10px 10px 21px -6px rgba(31,23,31,1);
    box-shadow: 10px 10px 21px -6px rgba(31,23,31,1);
}
.songItemsContainer{
    margin-top: 50px;
}
.songItems img{
    height:70px ;
    border-top-left-radius: 12px ;
    border-bottom-left-radius:12px ;
    /* margin: 0 23px; */
}
.timeStamp{
    margin-right: 10px
}
.timeStamp i{
    cursor:pointer;
}
.timeStamp  .playButton{
    margin-left: 10px;
}
nav{
    font-family: 'Roboto' , sans-serif;
}
nav ul{
    display: flex ; /*all items come horiontally */
    align-items: center;
    list-style-type: none; /*removes the bullet points of list*/
    height: 60px;
    background-color: black;
    color:white;
}
/* for maintaing distance between li items */
nav ul li{
  padding: 0 9px;
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Roboto', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    width: 80px;
    margin-right: 15px;
}
#masterSongName{
    font-size: larger;
    font-weight: bold;
}